@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo:wght@300&display=swap');

/* font-family: 'Archivo Black', sans-serif; MAIN FONT
font-family: 'Exo', sans-serif; BODY COPY */

h2{
    font-family: 'Archivo Black', sans-serif;
    color: white;
    font-size: 46px;
    text-align: center;
}

h3, p{
    font-family: 'Exo', sans-serif;
    color: white;
}

.intro{
    float: left;
}

.intro h1{
    color: #FBFF12;
    font-size: 48px;
    text-align: left;
}
.search{
    width: 20%;
    border-radius: 30px;
    border: 3px #A379C9 solid;
    float: right;
    padding: 10px;
    margin-right: 30px;
}

.search p{
    color: gray;
}

.about{
    float: right;
}

.compare-block, .output{
    margin: 20px;
    width: 30%;
    border-radius: 30px;
    box-shadow: 7px 10px 20px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 10px 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 20px 5px rgba(0,0,0,0.75);
    float: left;
    text-align: center;
    height: auto;
    background-color: black;
}

h4{
    color: white;
    font-family: 'Exo', sans-serif;
    margin: 10px;
}

h6{
    color: white;
}

select{
    margin: 10px;
    width: auto;
    padding: 20px;
    background-color: #A379C9;
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    color: white;
    border-radius: 20px;
}

.result h2{
    float: left;
    margin-top: 100px;
}

.output p{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.output h3{
    font-family: 'Archivo Black', sans-serif;
    color: white;
}

.output i{
   color: white;
   float: left;
   margin-left: 20px;
   margin-right: 10px;
}

.output img{
    width: 100%;
}