@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo:wght@300&display=swap");

/* font-family: 'Archivo Black', sans-serif; MAIN FONT
font-family: 'Exo', sans-serif; BODY COPY */

.intro {
  width: 80%;
  float: left;
}

.intro h2 {
  font-family: "Archivo Black", sans-serif;
  background: linear-gradient(
    99deg,
    rgba(82, 51, 251, 1) 0%,
    rgba(226, 193, 162, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  text-align: left;
}

.intro h3,
.intro p {
  font-family: "Exo", sans-serif;
  color: #4d4d55;
  width: 70%;
}

.graph-block {
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  float: left;
  text-align: center;
  background: linear-gradient(
    16deg,
    rgba(34, 34, 44, 1) 77%,
    rgba(55, 41, 134, 1) 100%,
    rgba(82, 51, 251, 1) 100%
  );
}

.graph-block h2 {
  font-size: 36px;
  color: #beacd2;
}

.region-group {
  float: left;
  margin: 0px;
  text-align: center;
}

.bar {
  width: 20%;
}
