@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo:wght@300&display=swap');

/* font-family: 'Archivo Black', sans-serif; MAIN FONT
font-family: 'Exo', sans-serif; BODY COPY */

nav {
    width: 20%;
    background-color: black;
    height: 100vh;
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
    float: left;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 24px;
    color: white;
}

li{
    list-style: none;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    margin: 40px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    color: #A379C9;
}

li:hover{
    background-color: white;
    transition: 0.2s;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}


