@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo:wght@300&display=swap');

/* font-family: 'Archivo Black', sans-serif; MAIN FONT
font-family: 'Exo', sans-serif; BODY COPY */

nav {
    width: 20%;
    background-color: #A379C9;
    height: 100vh;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 24px;
}

li{
    list-style: none;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    margin: 40px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

li:hover{
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
}