@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo:wght@300&display=swap');

/* font-family: 'Archivo Black', sans-serif; MAIN FONT
font-family: 'Exo', sans-serif; BODY COPY */

h2{
    font-family: 'Archivo Black', sans-serif;
    color: white;
    font-size: 46px;
}

h3, p{
    font-family: 'Exo', sans-serif;
    color: white;
}

.intro{
    float: left;
}

.search{
    width: 20%;
    border-radius: 30px;
    border: 3px #A379C9 solid;
    float: right;
    padding: 10px;
    margin-right: 30px;
}

.search p{
    color: gray;
}

.about{
    float: right;
}